<div class="navbar">
  <div class="contents">
    <div class="inner-contents">
      <img src="./assets/logo.png" alt="">
    </div>
    <div class="inner-contents">
      <h1>Bookshop</h1>
    </div>
  </div>
  <div class="contents">
    <div class="inner-contents">
      <a routerLink="">
        <li>Home</li>
      </a>
    </div>
    <div class="inner-contents">
      <a routerLink="Add">
        <li>Add Book</li>
      </a>
    </div>
    <div class="inner-contents">
      <a routerLink="Manage">
        <li>Manage Book</li>
      </a>
    </div>
  </div>
</div>
